template(name="appMenuBody")
  section#menu
    if currentUser
      .btns-group-vertical
        a.js-user-menu.btn-secondary(href='#')
          if userMenuOpen
            span.icon-arrow-up
          else
            span.icon-arrow-down
          |             {{emailLocalPart}}
        if userMenuOpen
          a.js-logout.btn-secondary {{CONST_LOGOUT}}
    else
      .btns-group
        a.btn-secondary(href="{{pathFor 'signin'}}") {{CONST_SIGN_IN}}
        //!!!a.btn-secondary(href="{{pathFor 'join'}}") {{CONST_JOIN}}

    .list-todos
      if currentUser
        if userModeRead
          a.js-user-mode.link-list-new
            span.icon-cog
            | {{CONST_CHANGE_TO_EDIT_MODE}}
        else
          a.js-user-mode.link-list-new
            span.icon-cog
            | {{CONST_CHANGE_TO_READ_MODE}}
      each lists
        a.list-todo(href="{{pathFor 'listsShow'}}" title='{{name}}' class=activeListClass)
          if userId
            span.icon-lock
          if videoCount
            span.count-list {{videoCount}}
          |             {{name}}
      if currentUserModeWrite
        a.js-new-list.link-list-new
          span.icon-plus
          | {{CONST_NEW_TOPIC}}
        a.js-down-list.link-list-new
          span.icon-arrow-down
          | {{CONST_MOVE_TOPIC_DOWN}}

  unless connected
    .notifications
      .notification
        span.icon-sync
        .meta
          .title-notification {{CONST_TRYING_CONNECT}}
          .description {{CONST_SEEMS_CONNECTION_ISSUE}}

  .content-overlay