<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">

  	{{> appMenuBody}}

    <div id="content-container">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>
</template>
