template(name='appNotFound')
  .page.not-found
    nav
      .nav-group
        a.js-menu.nav-item(href='#')
          span.icon-list-unordered
    .content-scrollable
      .wrapper-message
        .title-message Page not found