template(name='signin')
  .page.auth
    nav
      .nav-group
        a.js-menu.nav-item(href='#')
          span.icon-list-unordered
    .content-scrollable
      .wrapper-auth
        h1.title-auth {{CONST_SIGN_IN_DOT}}
        p.subtitle-auth {{CONST_SING_IN_ALLOWS_MANAGE_PRIVATE_TOPICS}}
        form
          if errorMessages
            .list-errors
              each errorMessages
                .list-item {{this}}
          .input-symbol(class="{{errorClass 'email'}}")
            input(type='email' name='email' placeholder=CONST_YOUR_EMAIL)
            span.icon-email(title=CONST_YOUR_EMAIL)
          .input-symbol(class="{{errorClass 'password'}}")
            input(type='password' name='password' placeholder=CONST_PASSWORD)
            span.icon-lock(title=CONST_PASSWORD)
          button.btn-primary(type='submit') {{CONST_SIGN_IN}}
      a.link-auth-alt(href="{{pathFor 'join'}}") {{CONST_NEED_ACOUNT_JOIN_NOW}}
