.page.lists-show.lists-show-write {
  .content-scrollable {
    background: @color-empty;
	top: 2.8em !important;    
  }
}

.page.lists-show.lists-show-read {
  .content-scrollable {
    background: @color-empty;
	top: 2.8em !important;    
  }
}
