template(name='listsShow')
  .page.lists-show(class='{{listsshowwriteread}}')
    nav.js-title-nav
      if editing
        form.js-edit-form.list-edit-form
          input(type='text' name='name' value='{{name}}')
          .nav-group.right
            a.js-cancel.nav-item(href='#')
              span.icon-close.js-cancel(title=CONST_CANCEL)
      else
        .nav-group
          a.js-menu.nav-item(href='#')
            span.icon-list-unordered(title=CONST_SHOW_MENU)
        h1.js-edit-list.title-page
          //span.icon-share(title=CONST_SHARE_TOPIC_REGISTERED_USERS)
          span.title-wrapper {{name}}
          span.count-list {{videoCount}}
      
      if currentUserModeWrite
        .nav-group.right
          .nav-item.options-mobile
            select.list-edit
              option(disabled='' selected='') {{CONST_SELECT_AN_ACTION}}
              if userId
                option(value='public') {{CONST_MAKE_TOPIC_PUBLIC}}
              else
                option(value='private') {{CONST_MAKE_TOPIC_PRIVATE}}
              option(value='delete') {{CONST_DELETE}}
            span.icon-cog
          .options-web
            //a.js-toggle-list-share.nav-item
            //  span.icon-share(title=CONST_SHARE_TOPIC_REGISTERED_USERS)
            a.js-toggle-list-privacy.nav-item
              if userId
                span.icon-lock(title=CONST_MAKE_TOPIC_PUBLIC)
              else
                span.icon-unlock(title=CONST_MAKE_TOPIC_PRIVATE)
            a.js-delete-list.nav-item
              span.icon-trash(title=CONST_DELETE)

    .content-scrollable.list-items
      
      if changingUserMode

        .wrapper-message
          .title-message {{CONST_LOADING_ELEMENTS}}
        script
          $('.js-user-mode').trigger("click"); //Así repintamos la lista con textarea elastic!

      else if todosReady

        if currentUserModeWrite
          form.js-todo-new-top.todo-new.input-symbol.list-item
            span.icon-add.js-todo-add
            input(type='text' placeholder=CONST_WRITE_NEW_ELEMENT_HERE)

        with _id
          //| {{! Establish new data context with only the &apos;_id&apos;
          //| field. This way, when the &apos;incompleteCount&apos; field
          //| changes, we don&apos;t re-render the list contents }}
          each todos this
            +todosItem
          else
            .wrapper-message
              .title-message {{CONST_THERE_IS_NO_ELEMENTS_HERE}}
              .subtitle-message {{CONST_ADD_NEW_ELEMENTS_WITH_FIELD_ABOVE}}

        if currentUserModeWrite
          form.js-todo-new.todo-new.input-symbol.list-item
            span.icon-add.js-todo-add
            input(type='text' placeholder=CONST_WRITE_NEW_ELEMENT_HERE)
          script
            $('textarea').elastic(); //Para adaptar write textareas de la lista de elementos en un solo punto

      else
        .wrapper-message
          .title-message {{CONST_LOADING_ELEMENTS}}
    

