template(name='todosItem')
	if currentUserModeWrite
		.list-item(class="{{checkedClass}} {{editingClass}}")
			label.checkbox
				input(type='checkbox' checked='{{checked}}' name='checked')
				span.checkbox-custom
			textarea(id="textarea" style="width:100%" placeholder=CONST_ELEMENT_CONTENT) {{text}}

			a.js-delete-item.delete-item(href='#')
				span.icon-trash
			a.js-up-item.updown-item(href='#')
				span.icon-arrow-up
			a.js-down-item.updown-item(href='#')
				span.icon-arrow-down
	else
		if isYoutube
			.videoWrapper
				iframe(src='{{text}}' frameborder="0" allowfullscreen)
		else if isURL
			a.list-item-read(href=text target="_blank") {{text}}
		else if isSeparator
			hr
		else
			.list-item-read {{text}}
