// Caps styling used in headers
.title-caps() {
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
}

// Adds an ellipses at the end of overflowing strings
.ellipsized() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.force-wrap {
    -ms-word-break: break-all;

    /* Be VERY careful with this, breaks normal words wh_erever */
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}