// Core
@color-primary: #2cc5d2; //caribbean teal (buttons)
@color-secondary: #5db9ff; //cerulean blue (menu new list)
@color-tertiary: #d2edf4; //muted teal (join/signin bg)
@color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
@color-complementary: #778b91; //muted navy (add item placeholder)

//Color palette paletton.com
//@color-primary: #7E9F35;	/* Main Primary color */
//@color-secondary: #D6EF9F;
//@color-tertiary: #A8C764;
//@color-ancillary: #597814;
//@color-complementary: #375000;

// Alert
@color-negative: #ff4400; //error, alert
@color-note: #f6fccf;

// Greyscale
@color-empty: white;
@color-raw: #f8f8f8;
@color-raw: #f2f2f2;
@color-rare: #eee;
@color-medium-rare: #ccc;
@color-medium: #aaa;
@color-medium-well: #666;
@color-well: #555;
@color-full: #333;